[mysqld]
basedir=/opt/mysql/5.7.44
datadir=/var/lib/mysql-5.7.44
port=3306
socket=/var/run/mysqld/mysqld-5.7.44.sock
pid-file=/var/run/mysqld/mysqld-5.7.44.pid
log-error=/var/log/mysql/error-5.7.44.log

[client]
port=3306
socket=/var/run/mysqld/mysqld-5.7.44.sock
