[Unit]
Description=MySQL 5.7.44 Server
After=network.target

[Service]
Type=forking
User=mysql
Group=mysql
ExecStart=/opt/mysql/5.7.44/bin/mysqld --defaults-file=/etc/mysql-5.7.44/my.cnf --daemonize
ExecStop=/bin/kill -TERM $MAINPID
TimeoutStopSec=60
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
