[mysqld]
basedir=/opt/mysql/8.0.45
datadir=/var/lib/mysql-8.0.45
port=3306
socket=/var/run/mysqld/mysqld-8.0.45.sock
pid-file=/var/run/mysqld/mysqld-8.0.45.pid
log-error=/var/log/mysql/error-8.0.45.log

[client]
port=3306
socket=/var/run/mysqld/mysqld-8.0.45.sock
