[mysqld]
basedir=/opt/mariadb/12.1.2
datadir=/var/lib/mariadb-12.1.2
port=3306
socket=/var/run/mariadb/mariadb-12.1.2.sock
pid-file=/var/run/mariadb/mariadb-12.1.2.pid
log-error=/var/log/mysql/error-mariadb-12.1.2.log

[client]
port=3306
socket=/var/run/mariadb/mariadb-12.1.2.sock
